{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product option.
  - block: {Object} passing the block information.
  - picker_type: {String} picker type. Can be: 'button', 'dropdown', or 'swatch'.

  Usage:
  {% render 'product-variant-options', product: product, option: option, block: block %}
{% endcomment %}

{%- case picker_type -%}
  {%- when 'swatch' -%}
    {%- for value in option.values -%}
      <input
        type="radio"
        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        name="{{ option.name }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        {% if option.selected_value == value %}
          checked
        {% endif %}
        {% if option.html %}
          data-html="{{ option.html }}"
        {% endif %}
      >
      <label 
        for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        {% if value.swatch %}
          class="swatch-label"
        {% endif %}
      >
        {% if value.swatch %}
          {% render 'swatch', swatch: value.swatch, shape: block.settings.swatch_shape %}
        {% else %}
          {{ value }}
        {% endif %}
      </label>
    {%- endfor -%}
  {%- when 'swatch_dropdown' -%}
    {% for value in option.values %}
      <option
        value="{{ value | escape }}"
        {% if option.selected_value == value %}selected="selected"{% endif %}
      >
        {% if value.swatch %}
          {{ value.swatch.alt }}
        {%- else -%}
          {{ value }}
        {%- endif %}
      </option>
    {% endfor %}
  {%- when 'button' -%}
    {%- for value in option.values -%}
      <input
        type="radio"
        id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        name="{{ option.name }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        {% if option.selected_value == value %}
          checked
        {% endif %}
        {% if option.html %}
          data-html="{{ option.html }}"
        {% endif %}
      />
      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
        {{ value }}
      </label>
    {%- endfor -%}
  {%- else -%}
    {% for value in option.values %}
      <option
        value="{{ value | escape }}"
        {% if option.selected_value == value %}selected="selected"{% endif %}
      >
        {{ value }}
      </option>
    {% endfor %}
{%- endcase -%}